/DeepLearning/Assets/Weights/
/DeepLearning/bin/
/DeepLearning/obj/
/ObjectDetectionGui/bin/
/ObjectDetectionGui/obj/
*.suo
*.sdf
*.opensdf
*.weights
/ipch/
/Palettes/
/Release/
/x64/
/Debug/
/.vs/
*/*.dll
DeepLearning/obj/Debug/
DeepLearning/Assets/
DeepLearning/obj/Release/DeepLearning.dll
